body {
  background-color: #000000d4;
  font-family: "arial", serif;
}

  @keyframes spincube {
    from,to {
      transform: rotateX(45deg) rotateY(45deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(360deg);
    }
    100% {
      transform: rotateX(45deg) rotateY(45deg);
    }
  }

  .cubespinner {
    animation-name: spincube;
    animation-iteration-count: infinite;
    animation-duration: 5s;

    transform-style: preserve-3d;

    transform-origin: 120px 120px 0;
  }

  .stage {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
  }

  .cubespinner div {
    position: absolute;
    width: 240px;
    height: 240px;
    border: 10px solid #2b2b2b;
    border-radius: 15px;
    font-size: 0;
  }

  .cubespinner .face1 {
    transform: translateZ(120px);
  }
  .cubespinner .face2 {
    transform: rotateY(90deg) translateZ(120px);
  }
  .cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
  }
  .cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
  }
  .cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
  }
  .cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(120px);
  }

.actions-box {
  display: flex;
  width: 1100px;
  height: 600px;
  position: absolute;
  top: calc(50% - 300px);
  left: 50%;
  transform: translate(-50%);
  background-color: yellow;
}

.actions-box__left,
.actions-box__right {
  width: 50%;
  height: 100%;
}

.actions-box__form {
  position: relative;
  width: 300px;
  top: calc(50% - 120px);
  left: 50%;
  transform: translate(-50%);
}

.actions-box__inputs {
  margin-bottom: 15px;
}

.actions-box__label {
  display: block;
  margin: 0 0 5px 5px;
}

.actions-box__text-input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: grey;
  padding-left: 15px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 40px;
}

.actions-box__text-input:focus {
  outline: none;
}

.actions-box__button {
  height: 50px;
  width: 100%;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  cursor: pointer;
  background-color: #ff008d;
  transition: background-color .5s ease-in-out;
}

.actions-box__button:hover {
  background-color: #ff0023;
}

.actions-box__button:focus {
  outline: none;
}

